<!DOCTYPE html>
<html>
{% block head %}
    <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="{{ asset('assets/images/iconeEnergie.png') }}" type="">

      <title> Équitable Énergie Cameroun</title>

      <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.css') }}" />

      <!--owl slider stylesheet -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
      <!-- nice select  -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
      <!-- font awesome style -->
      <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet" />

      <!-- Custom styles for this template -->
      <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
      <!-- responsive style -->
      <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet" />

    </head>
{% endblock %}
<body>
{% block header %}
    <!-- header section strats -->
    <header class="header_section" style="background: white;z-index: 1;">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              <img src="{{ asset('assets/images/logoEnergie.png') }}" style="width:100px" alt="">
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background: #108a46;">
          
          	      
            <ul class="navbar-nav  mx-auto ">
                  
              <li class="nav-item {% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
                <a class="nav-link" href="{{ path('homepage')}}">{% trans into app.request.locale  %}Accueil{% endtrans %}  <span class="sr-only">(current)</span></a>
              </li>
              
              <li class="nav-item {% if app.request.attributes.get('_route') == 'about' %}active{% endif %}">
                <a class="nav-link" href="{{path('about')}}">{% trans into app.request.locale  %}A propos{% endtrans %}  <span class="sr-only">(current)</span></a>
              </li>
             <div class="nav-item dropdown">
									<a class="nav-item nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-expanded="false">{% trans into app.request.locale %}Nos activites{% endtrans %}</a>
									<div class="dropdown-menu">
										<a href="{{path('dons')}}" class="dropdown-item">{% trans into app.request.locale %}Dons{% endtrans %}</a>
										<a href="{{path('formations')}}" class="dropdown-item">{% trans into app.request.locale %}Formations{% endtrans %}</a>
										<a href="{{path('solardjangui')}}" class="dropdown-item">{% trans into app.request.locale %}SolarDjangui{% endtrans %}</a>
                  	<a href="{{path('marketingsocial')}}" class="dropdown-item">{% trans into app.request.locale %}Marketing social{% endtrans %}</a>
									</div>
									</div> 
              <li class="nav-item {% if app.request.attributes.get('_route') == 'beneficiaires' %}active{% endif %}">
                <a class="nav-link" href="{{path('beneficiaires')}}">{% trans into app.request.locale  %}Beneficiaires{% endtrans %}  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item {% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}">
                <a class="nav-link" href="{{path('contact')}}">{% trans into app.request.locale  %}Contact{% endtrans %}  <span class="sr-only">(current)</span></a>
                </li>
              <div class="nav-item dropdown">
										{% if app.request.locale == 'fr' %}				
											<a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-expanded="false"><span class="flag-icon flag-icon-fr"> </span>Français</a>
											<div class="dropdown-menu" aria-labelledby="dropdown09">
												<a class="dropdown-item" href="{{path('homepage', {'_locale': 'en'}) }}" style="color: black"><span class="flag-icon flag-icon-us" > </span>English</a>
											</div>
										{% else %}					
											<a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span>Anglais</a>
											<div class="dropdown-menu" aria-labelledby="dropdown09">
												<a class="dropdown-item" href="{{path('homepage', {'_locale': 'fr'}) }}" style="color: black"><span class="flag-icon flag-icon-fr" > </span>French</a>
											</div>
											
										{% endif %}
								</div>  
            </ul>
            
          </div>
        </nav>
      </div>
    </header>
{% endblock %}
    <!-- end header section -->
{% block body %}
{% endblock %}
{% block footer %}
  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Yaoundé - Montée Jouvence
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                 Tel : (+237)222 311 875
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  contact@equitable-energie.cm
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Nous rejoindre
            </h4>
            <div class="contact_link_box">
              <a href="">
                <span>
                  Bénéficier d'un don
                </span>
              </a>
              <a href="">
                <span>
                 Devenir Donateur
                </span>
              </a>
              <a href="">
                <span>
                  Financer un projet
                </span>
              </a>
            </div></div>
        </div>
        <div class="col-md-4 footer-col">
        <div class="footer_contact">
            <h4>
              Informations
            </h4>
            <div class="contact_link_box">

               <a href="">
                <span>
                      Comprendre notre politique de don
                </span>
              </a>
               <a href="">
                <span>
                   Acquérir une solution solaire
                </span>
              </a>
              <a href="">
                <span>
                  S'enregistrer sur SolarDjangui
                </span>
              </a>
            </div>
        </div>
      </div>
    </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="#">Equitable Energie</a><br><br>
         
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->
{% endblock %}
{% block javascript %}
      <!-- jQery -->
      <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
      <!-- popper js -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
      </script>
      <!-- bootstrap js -->
      <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
      <!-- owl slider -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
      </script>
      <!-- isotope js -->
      <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
      <!-- nice select -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
      <!-- custom js -->
      <script src="{{ asset('assets/js/custom.js') }}"></script>
      <script src="{{asset('assets/js/main.js')}}"></script>
      <!-- Google Map -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
</body>
</html>